<% @cards.each do |card| %>
  <% if card.publish_setting == true || card.user == current_user %>
    <div class="card-container">
      <div class="card-user">
        <span class="card-user-name"><%= card.user.name %></span>
        <span class="card-post-time"><%= card.updated_at.to_s(:datetime_jp) %></span>
      </div>

      <div class="card-content">
        <div class="card-title"><%= card.title %></div>
        <div class="card-text"><%= simple_format(h(card.text)) %></div>
        <div class="card-images">
          <% if card.images.attached? %>
            <% card.images.each do |image| %>
              <p class="card-image"><%= image_tag image.variant(strip: true, resize: "500x500>", quality: "85", interlace: "JPEG", colorspace: "sRGB").processed %><br></p>
            <% end %>
          <% end %>
        </div>
        <div class="card-tag">
          <% card.tags.each do |t| %>
            <%= t.tag %>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && card.user.id == current_user.id %>
        <div class="card-items">
          <%= link_to edit_card_path(card.id) do %>
            <i class="fas fa-edit"></i>：編集
          <% end %>
          <%= link_to card_path(card.id), method: :delete, data: { confirm: "削除してよろしいですか？" } do %>
            <i class="fas fa-trash-alt"></i>：削除
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
