<h1>カード編集ページ</h1>
<div class="container">
  <!-- カード編集フォーム -->
  <div class="contents">
    <%= form_with model: @card, url: card_path, method: :put, class: "form-card", local: true do |f| %>
      <%= render "layouts/error_messages", model: f.object %>

      <%= f.text_field :title, placeholder: "カードのタイトル" %>
      <%= f.text_area :text, placeholder: "本文" %>

      <% if @card.images.attached? %>
        <div class="images-container">
          <p class="annotation">※削除したい投稿画像をクリックして選択してください</p>
          <% @card.images.each do |image| %>
            <%= f.check_box :delete_images, {multiple: true}, image.id, false %>
            <div><%= f.label :"delete_images_#{image.id}" do %>
              <%= image_tag image.variant(strip: true, resize: "256x256>", quality: "85", interlace: "JPEG", colorspace: "sRGB").processed %>
            <% end %></div><br>
          <% end %>
        </div>
      <% end %>

      <div class="form-items-wrapper">
        <div class="form-items">
          <%= f.label :images, "画像投稿", for: "file-input", class: "mobile" do %>
            <i class="fas fa-images"></i>
            <%= f.file_field :images, id: "file-input", multiple: true, style: "display: none;" %>
          <% end %>
          <%= f.label :images, "画像投稿", for: "file-input", class: "pc" do %>
            <i class="fas fa-images"></i>：画像投稿
            <%= f.file_field :images, id: "file-input", multiple: true, style: "display: none;" %>
          <% end %>

          <%= f.label :publish_setting, "公開設定", class: "checked-publish mobile" do %>
            <i class="fas fa-globe"></i>：
            <%= f.check_box :publish_setting, { checked: true }, "true", "false" %>
            <%= f.label :publish_setting do %>
            <% end %>
          <% end %>
          <%= f.label :publish_setting, "公開設定", class: "checked-publish pc" do %>
            <i class="fas fa-globe"></i>：公開設定
            <%= f.check_box :publish_setting, { checked: true }, "true", "false" %>
            <%= f.label :publish_setting do %>
            <% end %>
          <% end %>
        </div>
        <%= f.submit "更新"%>
      </div>

    <% end %>
  </div>
  <!-- /カード編集フォーム -->
</div>
