<h1>カード編集ページ</h1>
<div class="container">
  <!-- カード編集フォーム -->
  <div class="card-form">
    <h2>カードを編集する</h2>
    <div class="card-flash">
      <p class="card-alert"><%= flash[:card_alert] %></p>
    </div>
    <%= form_with model: @card, url: card_path, method: :put, local: true do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      <%= f.text_field :title, placeholder: "カードのタイトル" %>
      <%= f.text_area :text, placeholder: "本文" %>
      <p>※削除したい投稿画像をクリックして選択してください</p>
      <% if @card.images.attached? %>
        <% @card.images.each do |image| %>
          <%= f.check_box :delete_images, {multiple: true}, image.id, false %>
          <%= f.label :"delete_images_#{image.id}" do %>
            <%= image_tag image.variant(strip: true, resize: "300x300>", quality: "85", interlace: "JPEG", colorspace: "sRGB").processed %>
          <% end %><br>
        <% end %>
      <% end %>
      <%= f.label :images, "画像投稿", for: "file-input" do %>
        <i class="fas fa-images"></i>
        <%= f.file_field :images, id: "file-input", multiple: true, style: "display: none;" %>
      <% end %>
      公開設定：<%= f.check_box :publish_setting, {checked: true}, "true", "false" %>
      <%= f.submit "投稿内容を更新する"%>
    <% end %>
  </div>
  <!-- /カード編集フォーム -->
</div>
