<div class="container">
  <h1>ホーム</h1>
  <!-- カード投稿部分 -->
  <div class="contents">
    <%= form_with model: @card, url: cards_path, method: :post, class: "form-card", local: true do |f| %>
      <%= render partial: "layouts/error_messages", locals: { model: f.object } %>
      <%= f.text_field :title, placeholder: "カードのタイトル（３０文字以内）" %>
      <%= f.text_area :text, placeholder: "本文（３００文字以内）" %>
      <div class="form-items-wrapper">
        <div class="form-items">
          <%= f.label :images, "画像投稿" do %>
            <i class="fas fa-images"></i>：画像投稿
            <%= f.file_field :images, id: "file-input", multiple: true, style: "display: none;" %>
          <% end %>
          <%= f.label :publish_setting, "公開設定", class: "checked-publish" do %>
            <i class="fas fa-globe"></i>：公開する
            <%= f.check_box :publish_setting, { checked: true }, "true", "false" %>
            <%= f.label :publish_setting do %>
            <% end %>
          <% end %>
        </div>
        <div class="form-items-btn">
          <%= f.submit "投稿する"%>
        </div>
      </div>
    <% end %>
  </div>

  <!-- カード一覧表示 -->
  <div class="contents">
    <%= render partial: 'card_list' %>
  </div>

  <!-- ページネーション -->
  <div class="pager"><%= paginate @cards %></div>

</div>
