<h1>TipCards</h1>
<div class="container">
  <div class="card-flash">
    <p class="card-notice"><%= flash[:card_notice] %></p>
    <p class="card-alert"><%= flash[:card_alert] %></p>
  </div>
  <!-- カード投稿部分 -->
  <div class="card-form">
    <%= form_with model: @card, url: cards_path, method: :post, local: true do |f| %>
      <%= render partial: "layouts/error_messages", locals: { model: f.object } %>
      <%= f.text_field :title, placeholder: "カードのタイトル" %>
      <%= f.text_area :text, placeholder: "本文" %>
      <%= f.label :image, "画像投稿", for: "file-input" do %>
        <i class="far fa-images"></i>
        <%= f.file_field :images, id: "file-input", multiple: true, style: "display: none;" %>
      <% end %>
      <%= f.label :publish_setting %>
      <%= f.check_box :publish_setting, { checked: true }, "true", "false" %>
      <%= f.submit "投稿する"%>
    <% end %>
  </div>
  <!-- /カード投稿部分 -->
  <%= render partial: 'card_list' %><!-- カード一覧表示 -->
</div>
