<!DOCTYPE html>
<html>
  <head>
    <title>Tipcards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header'%>

    <div class="main-wrapper">
      <!-- フラッシュメッセージ -->
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer'%>
  </body>
</html>
